<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.babt.smarthome" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".App"
        android:theme="@style/AppTheme" >
        <activity android:name=".SplashActivity" android:theme="@style/splash_theme" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".AirCleanActivity" android:screenOrientation="portrait"/>
        <activity android:name=".RoomSelectActivity" android:screenOrientation="portrait"/>
        <activity android:name=".RoomDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".SetTimeListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".LeaveHomeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".NetSetActivity" android:screenOrientation="portrait"/>
        <activity android:name=".SensorNetSetActivity" android:screenOrientation="portrait"/>
        <activity android:name=".AddTimeActivity" android:theme="@android:style/Theme.Holo.Light.NoActionBar" android:screenOrientation="portrait"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e4c945b97e7e3865d09fc7c99f198a266fc87824" />
    </application>

</manifest>